<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Services - Brand</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="/static/css/swiper-icons.css">
    <link rel="stylesheet" href="/static/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/static/css/Simple-Slider-swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/Simple-Slider.css">
</head>

<body>
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold">About Us</h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div>
                        <h5 class="fw-bold">What is NExternship?</h5>
                        <p class="text-muted mb-4">We are an NGO that was founded by high schoolers who struggled to find internships and work experience. We decided found this company to assist students of the future </p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div>
                        <h5 class="fw-bold">What Do We Do?</h5>
                        <p class="text-muted mb-4">By gathering the information of students as well as their interests, we can connect them to companies who have open positions which give high schoolers a feel for a <br>work environment and give them valuable experience that they could use in future jobs, internships, etc.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                    <div>
                        <h5 class="fw-bold">Our Mission</h5>
                        <p class="text-muted mb-4">Our goal is to establish a long standing connection between high schoolers of the locality and businesses, ensuring mutual success and prosperity for all parties involved.&nbsp;</p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h5 class="fw-bold"></h5>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col">
                    <div>
                        <h5 class="fw-bold"></h5>
                    </div>
                </div>
            </div><button class="btn btn-primary" type="button" style="margin-top: 23px;margin-bottom: 24px;padding-left: 31px;margin-left: 458px;margin-right: 458px;" onclick="location.href='{% url 'signup' %}'">Get Started Today!</button>
        </div>
    </section>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bold-and-dark.js"></script>
    <script src="/js/Simple-Slider-swiper-bundle.min.js"></script>
    <script src="/js/Simple-Slider-swiper-bundle.min.js"></script>
</body>
{% endblock %}
</html>