{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Team - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'css/swiper-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Simple-Slider.css' %}">
</head>

<body>
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Error</p>
                    <h2 class="fw-bold">You are a student. Going to an employer page is not allowed. Revert back to the main page to resume your activity</h2>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bold-and-dark.js' %}"></script>
    <script src="{% static 'js/Simple-Slider-swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/Simple-Slider.js' %}"></script>
</body>
{% endblock %}
</html>